:root {
    --calender-fade-time: 1s;
}

.header a{
    color: black;
}

.calender {
    * {
        color: black;
    }

    width: 60%;
    position: relative;
    margin: auto auto 50px auto;
    #calender {
        width: 100%;
        border: 1px black solid;
        padding: 10px 30px;
        box-sizing: border-box;
        .row {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            .col {
                width: 100%;
                text-align: center;
                animation: fade-in var(--calender-fade-time);
            }
        }
    }
}

.today {
    font-weight: bold;
}

.full {
    color: red;
}

.almost-full {
    color: #c1c110;
}

.open {
    color: green;
}

.calender-title-container {
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    align-items: center;
    button {
        height: 50px;
    }
}

.col-title {
    width: 100%;
    text-align: center;
    animation: fade-in var(--calender-fade-time);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#month-title {
    animation: fade-in var(--calender-fade-time);
}