.content {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    margin-top: 75px;
}

.storyContainer {
    width: 50%;
    padding: 0 50px;
    box-sizing: border-box;

    p {
        white-space: pre-line;
    }
}

.content, .header {
    p, h1, h2, a {
        color: black !important;
    }
}

.employeeContainer {
    width: 50%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.employee {
    display: flex;
    margin-bottom: 30px;
    img {
        width: 100px;
        height: 100px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .employeeContainer {
        width: 100%;
    }

    .storyContainer {
        width: 100%;
    }
}