:root {
    --logo-width: 250px;
}

h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

* {
    font-family: Inter, sans-serif;
}

body {
    background: white;
}

.header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    a {
        text-align: center;
        width: calc((80vw - var(--logo-width))/4);
        color: black;
    }

    .logo {
        width: var(--logo-width);
    }
}

a {
    text-decoration: none!important;
}
